*, ::after,::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FBFBFB;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E43E59;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
  height: 10vh;

}

main {
  width: 80%;
  max-width: 720px;
  margin: 0 auto;
}